version: '3.8'

services:
  db:
    image: mysql:5.7
    container_name: sqli_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: sqli_lab
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    container_name: sqli_web
    ports:
      - "8070:80"
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db

volumes:
  db_data:

